<div class="sidebar">
  <div class="cont-logo">
    <img src="/assets/logo_fisi.png" alt="Logo">
    <div class="cont-text">
      <h1>FISI</h1>
      <p>Facultad de Ingenieria de sistemas e informatica</p>
    </div>
  </div>
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active"><i class="fas fa-home"></i> Inicio</a></li>
    <li><a routerLink="/articulos" routerLinkActive="active"><i class="fas fa-box-open"></i> Artículos</a></li>
    <li><a routerLink="/ubicacion" routerLinkActive="active"><i class="fas fa-school"></i> Ubicaciones</a></li>
    <li><a routerLink="/reportes" routerLinkActive="active"><i class="fas fa-chart-bar"></i> Reportes</a></li>
    <li><a routerLink="/traslados" routerLinkActive="active"><i class="fas fa-exchange-alt"></i> Traslados</a></li>
    <li><a routerLink="/inventario" routerLinkActive="active"><i class="fas fa-box"></i> Inventario</a></li>
  </ul>
</div>
