<div class="sidebar">
  <div class="cont-logo">
    <img src="/assets/logo_fisi.png" alt="Logo">
    <div class="cont-text">
      <h1>FISI</h1>
      <p>Facultad de Ingenieria de sistemas e informatica</p>
    </div>
  </div>

  <ul>
    <!-- Módulos dinámicos -->
    <li *ngFor="let mod of modulos">

      <ng-container *ngIf="mod.subModulos && mod.subModulos.length > 0; else moduloDirecto">

      <div class="menu-head">

  <span (click)="onClickModulo(mod)" style="flex:1; cursor:pointer;">
    <i [class]="mod.icon"></i>
    {{ mod.nombre }}
  </span>

  <span
    *ngIf="mod.subModulos?.length"
    (click)="toggle(mod.id)"
    style="cursor:pointer;"
  >
    {{ expanded[mod.id] ? '▾' : '▸' }}
  </span>

</div>

        <ul *ngIf="expanded[mod.id]" class="submenu">
          <li *ngFor="let sub of mod.subModulos">
            <a [routerLink]="sub.ruta" routerLinkActive="active">
              <i [class]="sub.icon ? sub.icon : 'fas fa-circle'"></i>
              {{ sub.nombre }}
            </a>
          </li>
        </ul>

      </ng-container>

      <!-- SIN SUBMÓDULOS -->
      <ng-template #moduloDirecto>
        <a [routerLink]="mod.ruta" routerLinkActive="active" class="menu-head">
          <i [class]="mod.icon ? mod.icon : 'fas fa-folder'"></i>
          {{ mod.nombre }}
        </a>
      </ng-template>

    </li>
  </ul>

  <!-- Logout -->
  <div class="logout-section">
    <button class="btn-logout" (click)="logout()">
      <i class="fa fa-sign-out"></i> Cerrar sesión
    </button>
  </div>
</div>
