<div class="cont-header">

  <!-- Título dinámico según la ruta -->
  <div class="titulo-pagina">
    <h1>{{ pageTitle }}</h1>
    <span class="badge-rol" *ngIf="rolActual?.rol?.nombre">{{ rolActual.rol.nombre | uppercase }}</span>
  </div>

  <!-- Acciones -->
  <div class="acciones-usuario">

    <!-- Buscador compacto -->
    <div class="buscador">
      <i class="fa fa-search icon-buscar"></i>
      <input type="text" placeholder="Buscar código o serie...">
    </div>

    <!-- Campana de notificaciones -->
    <div class="notificacion">
      <i class="fa-regular fa-bell"></i>
      <span class="badge"></span>
    </div>

    <!-- Ayuda -->
    <div class="icono-accion" title="Ayuda">
      <i class="fa-regular fa-circle-question"></i>
    </div>

    <!-- Configuración -->
    <div class="icono-accion" (click)="irAConfiguracion()" title="Configuración">
      <i class="fa-solid fa-gear"></i>
    </div>

    <!-- Separador -->
    <div class="separador"></div>

<div class="perfil-info" (click)="irAPerfil()">

  <div class="textos-perfil">
    <span class="nombre-perfil">
      {{ usuarioActual?.data?.nombre || 'Usuario' }}    {{ usuarioActual?.data?.apellido || 'Usuario' }}
    </span>

  <span class="rol-perfil">
  {{ rolActual?.rol?.nombre || 'Rol no definido' }}
</span>
  </div>

  <div class="avatar-container">
    <img
      [src]="usuarioActual?.data?.imagenUrl || 'assets/perfil.png'"
      alt="Perfil">
  </div>

</div>

  </div>
</div>
