.cont-tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.cont-tit h2 {
  color: #333;
  font-weight: 600;
}

.cont-btns {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-agregar {
  background-color: #218838;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-agregar:hover {
  background-color: #28a745;
}

.busqueda {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
}
.busqueda button {
  padding: 10px 14px;
  background: #007bff;
  color: white;
  transition: 0.3s;
  border: none;       
  outline: none;       
  cursor: pointer;
}

.busqueda input {
  flex: 1;
  padding: 10px 12px;
  border: none;
  outline: none;
  font-size: 14px;
}
.busqueda button {
  padding: 10px 14px;
  background: #007bff;
  color: white;
  transition: 0.3s;
}
.busqueda button:hover {
  background: #0056b3;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card {
  background: #fff;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: aparecer 0.3s ease;
}

@keyframes aparecer {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.modal-header {
  background-color: #f3f3f3f6;
  color: white;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  margin: 0;
}

.btn-cerrar {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.modal-body form label {
  font-weight: 500;
  color: #444;
}

.modal-body input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.2s;
}

.modal-body input:focus {
  border-color: #ffffff;
}
.acciones-form {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-guardar {
  background-color: #218838;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-cancelar {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.grid-ubicaciones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 30px;
}

.ubicacion-card {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ubicacion-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}
.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-num {
  background-color: #28a745;
  color: white;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.card-header h3 {
  color: #333;
  font-size: 16px;
}

.acciones {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.acciones button {
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  transition: 0.2s;
  color: white;
}

.btn-ver { background-color: #00b894; }
.btn-editar { background-color: #d4ac0d; }
.btn-eliminar { background-color: #d63031; }

.acciones button:hover {
  opacity: 0.8;
}

.sin-resultados {
  text-align: center;
  color: #777;
  font-style: italic;
  margin-top: 30px;
}

.paginacion {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.paginacion button {
  color: rgb(23, 10, 10);
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.paginacion button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/*Responsive */
@media (max-width: 992px) {
  .grid-ubicaciones {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid-ubicaciones {
    grid-template-columns: 1fr;
  }

  .cont-btns {
    flex-direction: column;
    gap: 10px;
  }

  .busqueda {
    width: 100%;
  }
}